body{ /* Default size: 14px */
    background-color: white;
    width: 1024px;
    margin: auto;
}

#recursos{
	display: block;
    background-color: green;
}

    #recursos p {
        background-color: green;
        font-size: 4em;
        margin: auto;
    }

#cabecera{
    background-color: blue;
    padding: 5px;
}
#banner{
	display: block;
	height: 4em;
	width: 4em;
	margin: auto;
}

#coliz{
    float: left;
    padding: 5px;
    background-color: red;
    width: 694px;
}

#colder{
    float: right;
    padding: 5px;
    background-color: yellow;
    width: 300px;
}

#login{
	float: right;
	background-color: white;
}

footer{
    background-color:gray;
    clear: both;
}

a{
    text-decoration:none;
}
