<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
		<title>TITULO PAGINA</title>
	</head>
	<body>
	    <div id="cabecera">
    		<img id="banner" src="http://4.bp.blogspot.com/-J8O3yYaIv8A/UxNjuR9FK6I/AAAAAAAABg4/lR15kG6vtNk/s1600/p2.png"/>
    		<div id="login">
        		<table class="container">
        		    <tr>
        		        <td>
                            <label><b>Name </b></label>
                        </td>
                        <td>
                            <input type="text" name="uname" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label><b>Password </b></label>
                        </td>
                        <td>
                            <input type="password"  name="psw" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="submit">-login-</button>
                        </td>
                    </tr>
                  </table>
            </div>
        </div>
        <footer>
			<div id="credits">
				<center><p>Esta aplicación
utiliza datos del portal de datos abiertos de la ciudad de Madrid<br><a href="http://datos.munimadrid.es/portal/site/egob/menuitem.ac61933d6ee3c31cae77ae7784f1a5a0/?vgnextoid=00149033f2201410VgnVCM100000171f5a0aRCRD&format=xml&file=0&filename=202584-0-aparcamientos-residentes&mgmtid=e84276ac109d3410VgnVCM2000000c205a0aRCRD&preview=full">XML</a> | <a href="http://datos.madrid.es/portal/site/egob/menuitem.c05c1f754a33a9fbe4b2e4b284f1a5a0/
?vgnextoid=e84276ac109d3410VgnVCM2000000c205a0aRCRD&vgnextchannel=
374512b9ace9f310VgnVCM100000171f5a0aRCRD&vgnextfmt=default">Descripcion</a><br><br> &copy; 2017 | Design by <a href="/about">Adrián Sacristán Ibáñez</a> | This work is licensed under a <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a></p></center>
			</div>
		</footer>
	</body>
</html>
